[Match]
Name=wlp3s0

[Network]
# hostapd.conf muss bridge= enthalten
Description=WLAN-AP-Interface. Wird von hostapd-wlp3s0.service angelegt und an die Bridge gehängt
# Keine Adressen auf dem Host: reines L2, hostapd managt das Interface.
# Greift per Hotplug, sobald hostapd das Interface anlegt.
LinkLocalAddressing=no
DHCP=no
